body{
    text-align: center;
}
h1,h2{
    color: maroon;
}
p,ul{
    color: rgb(32, 10, 90);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
nav ul{
    list-style: none;
}